

.carousel-cell {
    width: 100%; /* full width */
    margin-left: 10px;
    margin-right: 10px;
}
.productimg{
margin:15px;
    width:auto;
    height:125px;

}

.underline{border-bottom:solid 1px darkgray;}

.greencolor{color:green;}